@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary-100: #f6f9fe;
  --color-primary-200: #d2e3ff;
  --color-primary-300: #1c65da;
  --color-accent-red: #d9206e;
  --color-accent-green: #079455;
  --color-accent-yellow: #fdb022;
}

:root {
  font-family: "Quicksand", system-ui, sans-serif;
}
